$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #ffffff;
$dark: #000000;

.Button {
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}

.Button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

.Button.Fluid {
    width: 100%;
}

.Button.Primary {
    background-color: $primary;
    color: $light;
}
.Button.Secondary {
    background-color: $secondary;
    color: $light;
}
.Button.Success {
    background-color: $success;
    color: $light;
}
.Button.Info {
    background-color: $info;
    color: $light;
}
.Button.Warning {
    background-color: $warning;
    color: $light;
}
.Button.Danger {
    background-color: $danger;
    color: $light;
}
