.SideBar {
    background-color: #27272b;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    gap: 20px;
    border-radius: 10px;
}

.SideBar .ScrollableBox {
    flex-grow: 1;
    overflow-y: auto;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.SideBar .Footer {
    margin-top: auto;
}

.SideBar .HideButton {
    
}